.cart-page {
  .section-cart {
    padding: 150px 0;

    .cart-list {
      margin-bottom: 12px;
    }
  }

  .cart-wrapper {
    justify-content: space-between;
  }

  .total-wrapper {
    position: sticky;
    top: 170px;
    right: 0;
    height: 100px;
    border: 2px solid map-get($map: $color, $key: primary);
    border-radius: 16px;
    padding: 18px 12px;
    text-align: center;
    .total-title {
      display: block;
      padding-bottom: 8px;
      margin-bottom: 8px;
      border-bottom: 1px solid map-get($map: $color, $key: grey);
    }
    .total-price {
      margin-top: 20px;
    }
  }
  .cart {
    padding: 20px 0;
    border-bottom: 1px solid map-get($map: $color, $key: border);
    &-img {
      width: 40%;
    }

    &.product-discount {
      .badge-danger {
        top: 5%;
        left: 5%;
      }

      .price-wrapper .product-price {
        color: map-get($color, price);
        text-decoration: line-through;
      }
    }

    .input-quantity {
      max-width: 26px;
      font-size: 16px;
      text-align: center;
      outline: none;
      font-family: "Poppins";
    }

    &-quantity {
      display: inline-block;
      width: 26px;
      font-size: 16px;
      text-align: center;
    }

    &-action {
      text-align: center;
      margin: auto 0;
    }

    &-price {
      position: relative;
      margin: auto 0;
      text-align: end;
    }

    .btn {
      padding: 4px 12px;
      margin: 0 10px;
      border: 1px solid map-get($map: $color, $key: primary);

      &:hover {
        background-color: map-get($map: $color, $key: primary);
        color: map-get($map: $color, $key: light);
      }
    }

    &-total {
      text-align: end;
      font-weight: 700;
      font-size: 20px;
    }

    &-empty {
      text-align: center;

      .btn:hover {
        color: map-get($map: $color, $key: light);
      }
    }
  }
}
