.flex {
	display: flex;
}

.container {
	max-width: map-get($width, container);
	width: 100%;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
}
.col {
	padding: 0 10px;
}
@for $i from 1 through 12 {
	.col-#{$i} {
		width: percentage(calc($i/12));
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: map-get($width, container-sm);
		width: 100%;
	}

	.row {
		margin: 0 -4px;

		.col {
			padding: 0 4px !important;
		}

		@for $i from 1 through 12 {
			.col-sm-#{$i} {
				width: percentage(calc($i/12)) !important;
			}
		}
	}
}
