.nav-main {
	.nav-list {
		justify-content: space-between;
		font-size: 18px;

		.nav-item {
			padding: 0 48px;

			&:hover {
				color: map-get($color, primary);
				font-weight: 700;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.nav-main {
		display: none;
	}
}
