.btn {
  padding: 12px 20px;
  background-color: map-get($color, light);
  border-radius: 24px;
  font-size: 13px;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }

  &.btn-primary {
    padding: 16px 42px;
    background-color: map-get($color, primary);
  }

  &.btn-outline-info {
    border: 1px solid #c4c4c4;
    font-weight: 700;
  }
}

@media only screen and (max-width: 768px) {
  .btn {
    padding: 3px 10px;
    font-size: 10px;
  }
}
