.section {
	margin: 0;

	&-header {
		margin-bottom: 36px;
	}

	&-title {
		font-size: 32px;
		font-weight: 300;
	}
}

@media only screen and (max-width: 768px) {
	.section {
		padding: 24px 0 !important;

		&-title {
			font-size: 18px;
		}

		&-header {
			margin-bottom: 0;
		}
	}
}
